<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
	<meta charset="utf-8"/>
	<title>Petfy - Tipos de Serviços</title>
	
	<!-- BEGIN STYLESHEETS -->
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/public-resources/css/materialize.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/petfy.css}"/>
	<!-- END STYLESHEETS -->
	
</head>
<body>
	<nav class="navbar-fixed">
	    <div class="nav-wrapper teal lighten-1">
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a th:href="@{/admin/estabelecimento/}">Estabelecimentos</a></li>
	        <li><a th:href="@{/admin/proprietario/}">Proprietários</a></li>
	        <li><a th:href="@{/admin/tipo-servico/}">Tipos de Serviços</a></li>
	      </ul>
	    </div>
	  </nav>
  
	<div class="container">
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Tipos de Serviço</span>
              <table>
		        <thead>
		          <tr>
		              <th data-field="nome">Nome</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr th:each="tipo: ${tipos}">
		            <td th:text="${tipo.nome}"></td>
		          </tr>
		        </tbody>
		      </table>
            </div>
          </div>
        </div>
        
        <div class="col s6">
        	<div class="card">
        		<div class="card-content">
        			<span class="card-title">Novo Tipo de Serviço</span>
        			
        			<!-- Formulário de cadastro de tipo de serviço -->
					<form action="#" th:action="@{/admin/tipo-servico/cadastrar}" th:object="${tipo}" method="post">
						<div class="row">
							<div class="input-field col s12">
								<input id="nome" type="text" class="validate" th:field="*{nome}" required="required"/>
								<label for="nome">Nome</label>
							</div>
							<div class="input-field right">
								<button class="btn waves-effect waves-light" type="submit" name="action">Salvar</button>
							</div>
						</div>
					</form>
				</div>
        	</div>
        </div>
      </div>
	</div> <!-- /container -->
	
	<footer>
		<!-- BEGIN JAVASCRIPT -->
		<script th:src="@{/public-resources/js/jquery-3.1.0.min.js}"></script>
		<script th:src="@{/public-resources/js/materialize.min.js}"></script>
		<!-- END JAVASCRIPT -->
	</footer>
</body>
</html>