<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
	<meta charset="utf-8"/>
	<title>Petfy - Serviços</title>
	
	<!-- BEGIN STYLESHEETS -->
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/public-resources/css/materialize.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/petfy.css}"/>
	<!-- END STYLESHEETS -->
	
</head>
<body>
	<nav class="navbar-fixed">
	    <div class="nav-wrapper teal lighten-1">
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a th:href="@{/admin/estabelecimento/}">Estabelecimentos</a></li>
	        <li><a th:href="@{/admin/proprietario/}">Proprietários</a></li>
	        <li><a th:href="@{/admin/tipo-servico/}">Tipos de Serviços</a></li>
	      </ul>
	    </div>
	  </nav>
  
	<div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Estabelecimentos</span>
				<table>
					<thead>
						<tr>
							<th data-field="estabelecimento">Estabelecimento</th>
							<th data-field="endereco">Endereço</th>
							<th data-field="localizacao">Localização</th>
							<th data-field="status">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="est: ${estabelecimentos}">
							<td><a th:text="${est.nome}" th:href="@{/proprietario/estabelecimento/} + ${est.id}"></a></td>
							<td th:text="${est.endereco} + ', ' + ${est.bairro} + ', ' + ${est.cidade} + '-' + ${est.estado}"></td>
							<td th:text="${est.latitude} + ' | ' + ${est.longitude}"></td>
							<td th:text="${est.habilitado}"></td>
						</tr>
					</tbody>
				</table>
			</div>
          </div>
        </div>
       </div>
       
       <div class="row" th:if="${estabelecimento}">
        	<div class="col s6">
	        	<div class="card">
	        		<div class="card-content">
	        			<span class="card-title" th:text="${estabelecimento.nome}"></span>
						<table>
							<thead>
								<tr>
									<th data-field="servico">Serviço</th>
									<th data-field="tipo">Tipo</th>
									<th data-field="preco">Preço</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="servico: ${estabelecimento.servicos}">
									<td th:text="${servico.nome}"></td>
									<td th:text="${servico.tipo.nome}"></td>
									<td th:text="${servico.preco}"></td>
								</tr>
							</tbody>
						</table>
					</div>
	        	</div>
        	</div>
        	
        	<div class="col s6">
	        	<div class="card">
	        		<div class="card-content">
	        			<span class="card-title">Novo Serviço</span>
	        			
	        			<!-- Formulário de cadastro de serviço -->
						<form action="#" th:action="@{/proprietario/servico/cadastrar}" th:object="${servico}" method="post">
							<input type="hidden" name="id-est" th:value="${estabelecimento.id}"/>
							<div class="row">
								<div class="input-field col s4">
									<input id="nome" type="text" class="validate" th:field="*{nome}" required="required"/>
									<label for="nome">Nome</label>
								</div>
								<div class="input-field col s4">
									<input id="preco" type="text" class="validate" th:field="*{preco}" required="required"/>
									<label for="preco">Preço</label>
								</div>
								<div class="input-field col s4">
									<select>
										<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.nome}"></option>
									</select>
									<label for="tipo">Tipo</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field right">
									<button class="btn waves-effect waves-light" type="submit" name="action">Salvar</button>
								</div>
							</div>
						</form>
	        		</div>
	        	</div>
        	</div>
      	</div>
	</div> <!-- /container -->
	
	<footer>
		<!-- BEGIN JAVASCRIPT -->
		<script th:src="@{/public-resources/js/jquery-3.1.0.min.js}"></script>
		<script th:src="@{/public-resources/js/materialize.min.js}"></script>
		<!-- END JAVASCRIPT -->
	</footer>
</body>
</html>