<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
	<meta charset="utf-8"/>
	<title>Petfy - Proprietários</title>
	
	<!-- BEGIN STYLESHEETS -->
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/public-resources/css/materialize.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/petfy.css}"/>
	<!-- END STYLESHEETS -->
	
</head>
<body>
	<nav class="navbar-fixed">
	    <div class="nav-wrapper teal lighten-1">
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a th:href="@{/admin/estabelecimento/}">Estabelecimentos</a></li>
	        <li><a th:href="@{/admin/proprietario/}">Proprietários</a></li>
	        <li><a th:href="@{/admin/tipo-servico/}">Tipos de Serviços</a></li>
	      </ul>
	    </div>
	  </nav>
  
	<div class="container">
      <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Proprietários</span>
              <table>
		        <thead>
		          <tr>
		              <th data-field="nome">Nome</th>
		              <th data-field="email">Email</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr th:each="prop: ${proprietarios}">
		            <td><a th:text="${prop.nome}" th:href="@{/admin/proprietario/detalhe/} + ${prop.id}"></a></td>
		            <td th:text="${prop.email}"></td>
		          </tr>
		        </tbody>
		      </table>
            </div>
          </div>
        </div>
        
        <div class="col s6">
        	<div class="card">
        		<div class="card-content">
        			<span class="card-title">Novo Proprietário</span>
        			
        			<!-- Formulário de cadastro de proprietário -->
					<form action="#" th:action="@{/admin/proprietario/cadastrar}" th:object="${proprietario}" method="post">
						<div class="row">
							<div class="input-field col s12">
								<input id="nome" type="text" class="validate" th:field="*{nome}" required="required"/>
								<label for="nome">Nome</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input id="email" type="email" class="validate" th:field="*{email}" required="required"/>
								<label for="email">Email</label>
							</div>
							<div class="input-field col s6">
								<input id="senha" type="password" class="validate" th:field="*{usuario.senha}" required="required"/>
								<label for="senha">Senha</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field right">
								<button class="btn waves-effect waves-light" type="submit" name="action">Salvar</button>
							</div>
						</div>
					</form>
        		</div>
        	</div>
        </div>
      </div>
	</div> <!-- /container -->
	
	<footer>
		<!-- BEGIN JAVASCRIPT -->
		<script th:src="@{/public-resources/js/jquery-3.1.0.min.js}"></script>
		<script th:src="@{/public-resources/js/materialize.min.js}"></script>
		<!-- END JAVASCRIPT -->
	</footer>
</body>
</html>