<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="fragments/menu :: imports">
	<meta charset="utf-8"/>
	<title>Petfy - Estabelecimentos</title>
	
</head>
<body>
	<nav class="navbar-fixed" th:replace="fragments/menu :: menu"></nav>
  
	<div class="container">
	<div class="row" th:if="${estabelecimento}">
        <div class="col s12">
        	<div class="card">
        		<div class="card-content">
        			<span class="card-title" th:text="${estabelecimento.nome} + ' - Serviços'"></span>
        			<table>
						<thead>
							<tr>
								<th data-field="nome">Nome</th>
								<th data-field="preco">Preço</th>
								<th data-field="tipo">Tipo</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="serv: ${estabelecimento.servicos}">
								<td th:text="${serv.nome}"></td>
								<td th:text="${serv.preco}"></td>
								<td th:text="${serv.tipo.nome}"></td>
							</tr>
						</tbody>
					</table>
        		</div>
        	</div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title" th:text="Estabelecimentos"></span>
              <table>
				<thead>
					<tr>
						<th data-field="nome">Nome</th>
						<th data-field="endereco">Endereço</th>
						<th data-field="localizacao">Localização</th>
						<th data-field="proprietario">Proprietário</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="est: ${estabelecimentos}">
						<td><a th:text="${est.nome}" th:href="@{/admin/estabelecimento/} + ${est.id}"></a></td>
						<td th:text="${est.endereco} + ', ' + ${est.bairro} + ', ' + ${est.cidade} + '-' + ${est.estado}"></td>
						<td th:text="${est.latitude} + ' | ' + ${est.longitude}"></td>
						<td th:text="${est.proprietario.nome}"></td>
					</tr>
				</tbody>
			</table>
            </div>
          </div>
       	</div>
       </div>
       
	</div> <!-- /container -->
	
	<footer>
		<!-- BEGIN JAVASCRIPT -->
		<script th:src="@{/public-resources/js/jquery-3.1.0.min.js}"></script>
		<script th:src="@{/public-resources/js/materialize.min.js}"></script>
		<!-- END JAVASCRIPT -->
	</footer>
</body>
</html>